// GOOOGLE FONTS CDN OUTFIT
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {

    // COLORS
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
}

// main styles

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
}

.w-full {
    width: 100%;
}

.qr__card {
    width: 320px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--white);
    gap: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 36px;

    .qr__card-qrcode {
        img {
            border-radius: 8px;

        }
    }

    .qr__card-title {
        color: var(--Dark-blue);
        font-size: 24px;
        padding: 0px 4px;
    }

    .qr__card-details {
        color: var(--Grayish-blue);
        font-size: 16px;
        padding: 0px 4px;

    }
}

footer {
    font-size: 11px;
    text-align: center;
    padding: 16px;

    a {
        color: hsl(228, 45%, 44%);

    }

}

@media screen and (max-width:375px){
    main{
        padding: 16px;
    }
}